//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 18 20:49:17 2025
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "P23" LEVEL 1;
COMP "clk" LOCATE = SITE "P84" LEVEL 1;
COMP "btn" LOCATE = SITE "P75" LEVEL 1;
COMP "txd" LOCATE = SITE "P87" LEVEL 1;
SCHEMATIC END;

